HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Notes personnelles (ne pas envoyer sur GitHub) ###
DOCKER_RECAP.txt
EXPLICATION_SERVICES_ET_CONTROLLERS.txt
LA_MANIERE_DONT_JAI_FAIT_LE_JWT.txt
